<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSpace Pets Instagram</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <!-- This is where the profile pic and profile infor will go -->
        
        <!-- ========== End Section ========== -->
        
        <div class="profile-container">

            <div class="profile">

                <div class="profile-image">
                    <img src="#" alt="#">
                </div>

                <div class="user-info-settings">
                    <h1 class="user-name">Mark's pets</h1>
                    <button class="btn-edit-profile">Edit Profile</button>


                    <div class="profile-stats">
                        <ul>
                            <li class="profile-posts"><span>#</span>Posts</li>
                            <li class="profile-followers"><span>#</span>Followers</li>
                            <li class="profile-following"><span>#</span>Following</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </header>

    <main>
        <!-- This is where the photo gallery will go 
                 Div container for everythin
            Div for photos page
                Div for individual photo
                    Div/span for photo information/likes/comments 
                    First photo in the photo page-->
        
        <!-- ========== End Section ========== -->
        <div class="container">

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/riaan.png" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/bailey.PNG" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/baronnashor.png" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/forrest.jpg" alt="Forrest">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/jarrod.jpg" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/louise.jpg" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/mr_goose.jpg" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/scarab.png" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/tired.jpg" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/startlett.jpg" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/gabrielle.jpg" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

            <div class="photo-page">

                <div class="photo" tabindex="0">
                    <img src="../images/mr-chomsky.png" alt="#">
                </div>

                <div class="photo-info">
                    <ul>
                        <li class="photo-likes"><span class="hide">Likes:</span>#</li>
                        <li class="photo-comments"><span class="hide">Comments:</span>#</li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="loader"></div>

    </main>

</body>

</html>