<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSpace Pets Instagram</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <!-- This is where the profile pic and profile informtion will go -->
        
        <!-- ========== End Section ========== -->
        
        <div class="profile-grid-container">

            <div class="profile-image">
                <img src="../images/cat-codespace.png" alt="CodeSpace cat">
            </div>
            
            <div class="profile">

                <div class="user-info-settings">
                    <h1 class="user-name">Mark's pets</h1>
                    <button class="btn-edit-profile">Edit Profile</button>
                    <button class="btn-edit-profile-gear">⚙️</button>
                </div>

                <div class="profile-stats">
                    <li class="profile-posts"><span>378</span> Posts</li>
                    <li class="profile-followers"><span>1899103</span> Followers</li>
                    <li class="profile-following"><span>2</span> Following</li>
                </div>

                <div class="profile-bio">
                    <p><span class="profile-real-name">Mark Schaefer</span> The hangout place 🐈 for the best pets 🐶</p>
                </div>

            </div>

        </div>

    </header>

    <main>
        <!-- This is where the photo gallery will go 
                 Div container for everythin
            Div for photos page
                Div for individual photo
                    Div/span for photo information/likes/comments 
                    First photo in the photo page-->
        
        <!-- ========== End Section ========== -->

        <!-- Div for the profile img and like/comment info -->
        <div class="photo-grid-container">

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/po.jpg" alt="Po the fox terrier">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/bailey.PNG" alt="Bailey the dog">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/baronnashor.png" alt="Dog">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/forrest.jpg" alt="Forrest the dog">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/jarrod.jpg" alt="Jarrod the multi eye color cat">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/louise.jpg" alt="Louise the brown cat">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/mr_goose.jpg" alt="Goose the long cat">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/beetles.jpg" alt="Beetles drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/tired.jpg" alt="tired cat">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/po2.jpg" alt="Po the dog relaxing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/goblin1.jpg" alt="Pencil line art of a goblin">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/goblin2.jpg" alt="Pencil details of the goblin drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/goblin3.jpg" alt="Inking the goblin drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/goblin4.jpg" alt="Detailed inking of the goblin drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/goblin5.jpg" alt="Goblin drawing full color">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/bat1.jpg" alt="Pencil line art of a batman drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/bat2.jpg" alt="Detailed pencil line art of a batman drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/bat3.jpg" alt="Inking of a batman drawing">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/bat4.jpg" alt="Batman drawing with some color">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/bat5.jpg" alt="Batman drawing with full color">
                </div>

            </div>

            <div class="photo-card">

                <div class="photo" tabindex="0">
                    <img src="../images/gohan.jpg" alt="Drawing of Gohan DBZ">
                </div>

            </div>

        </div>

        <div class="loader-container"><div class="loader">⏳</div></div>

        <!-- For the future I want to animate the drawings to seem like a tiny animation of starting a drawing to complete (ran out of time unfortunatley) -->
    </main>
    
    <script>
        // From here we can add id's or data-attributes and loop through each photo-card to provide a different number or a specific number from a database
        function getRandomLikes() {
          var randomNumber = Math.floor(Math.random() * 10);
          document.documentElement.style.setProperty('--likes-comments', `"💗: ${randomNumber} 🗨️: ${randomNumber}"`);
        }
        // This is just a proof of concept placeholder 
        setInterval (getRandomLikes, 1000);
      </script>
      
</body>

</html>